@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap');


/* ----------------------------------------General Style*/

body,
html {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.news,
.band,
.contact,
.events,
.music {
    margin-top: 50px;
}

section {
    margin: 0;
    padding: 0;
}

hr {
    width: 100%;
    margin-top: 5vh;
}

a {
    color: #DC143C;
    font: Lato, sans-serif;
}

a:hover {
    text-decoration: none;
    color: #DC143C;
    background-color: #DCDCDC;
    opacity: 0.6;
    transition: 0.5s;
    border-radius: 10px;
    font: Lato, sans-serif;

}



/*--------------------------------------------Header*/

header {
    margin: 0;
}

.logo {
    max-height: 47px;
}

.navbar {
    background-color: #FAFAFA;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

.navbar-nav {
    background: #FAFAFA;
}

.navbar-light .navbar-nav .nav-link {
    color: #DC143C;
}

.mr-auto,
.mx-auto {
    width: 150px;
}


.navbar-toggler-icon span {
    height: 10px;
}

.navbar-toggler,
.navbar-toggler button {
    height: 30px;
    width: 40px;
    padding: 0;
}

.nav-item {
    text-align: center;
    display: inline-block;
    width: auto;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 5px;
}

.nav-link,
a,
a:hover {
    width: 150px;
}

.nav-item a {
    text-decoration: none;
    color: #DC143C;
}


.nav-item a:hover {
    display: block;
    color: #ff1a1a;
    background-color: #DCDCDC;
    height: 35px;
    opacity: 0.6;
    transition: 0.5s;
    border-radius: 10px;
    padding-left: 20px;
}



/*--------------------------------------------Footer*/

footer {
    background: rgba(102, 102, 102, 0.5);
    color: #fafafa;
    margin: 0;
    padding-top: 10px;
    padding-right: 10%;
    text-decoration: right;
    max-height: 65px;
    overflow: hidden;
}


.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    max-width: 50px;
    height: auto;
    padding: 10px;
    font-size: 100%;
    border-radius: 40px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #DC143C;
}

#footer-infos {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
}




/*--------------------------------------------Carousel*/

.index-carousel {
    position: relative;
}

.carousel-item {
    width: 100%;
    height: calc(100vh - 65px);
    position: relative;
    background-color: #000000;
}

.carousel-item.active img,
.carousel-item img {
    height: calc(100vh - 65px);
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.carousel-item:hover:before {
    background: none;
}

.carousel-caption h5 {
    color: #ff1a1a;
    text-shadow: 1px 1px #FFFFFF;
    text-transform: uppercase;
    padding: 10px;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 25px;
}

.carousel-caption p {
    color: #FFFFFF;
    padding: 10px;
    font-family: Lato, sans-serif;
}

.carousel-caption {
    width: 60%;
    margin: auto;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 50px;
}



/*--------------------------------------------News*/

.title-news {
    height: 40vh;
    width: auto;
    background-color: #FAFAFA;
    font: Lato, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 900;
    background-image: url("../files/images/headers/header-news.jpg");
    padding-top: 15vh;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    font: Lato, sans-serif;
    width: 100%;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}


.news-articles {
    padding: 0% 5% 0 5%;
}

.actu1 {
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    font: Lato, sans-serif;
    text-align: justify;

}

.actu2 {
    margin: 5px;
    padding: 10px;
    background-color: #DCDCDC;
    font: Lato, sans-serif;
    text-align: justify;
}

.news {
    padding-bottom: 5%;
}

.news h2 {
    font: Lato;
    font-size: 30px;
    color: #DC143C;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}



/*--------------------------------------------The Band*/

.title-band {
    height: 40vh;
    width: auto;
    background-color: #FAFAFA;
    font: Lato, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 900;
    background-image: url("../files/images/headers/header-band.jpg");
    padding-top: 15vh;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}


.band-articles {
    padding: 0% 5% 0 5%;
}


.band {
    padding-bottom: 5%;
}

.band h2 {
    font: Lato;
    font-size: 30px;
    color: #DC143C;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.band-description {
    text-align: center;
    font: Lato, sans-serif;
    font-style: italic;
    font-size: 100%;
    background-color: #DCDCDC;
    border-radius: 50px;
    padding: 10px;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 10px;

}


/*--------------------------------------------Our music*/

.title-music {
    height: 40vh;
    width: auto;
    background-color: #FAFAFA;
    font: Lato, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 900;
    background-image: url("../files/images/headers/header-music.jpg");
    padding-top: 15vh;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}


.music-articles {
    padding: 0% 5% 0 5%;
}


.music {
    padding-bottom: 5%;
}

.music h2 {
    font: Lato;
    font-size: 30px;
    color: #DC143C;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


/*--------------------------------------------Events*/

.title-events {
    height: 40vh;
    width: auto;
    background-color: #FAFAFA;
    font: Lato, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 900;
    background-image: url("../files/images/headers/header-events.jpg");
    padding-top: 15vh;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}


.events-articles {
    padding: 0% 5% 0 5%;
}


.events {
    padding-bottom: 5%;
}

.events h2 {
    font: Lato;
    font-size: 30px;
    color: #DC143C;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


/*--------------------------------------------Contact*/

.title-contact {
    height: 40vh;
    width: auto;
    background-color: #FAFAFA;
    font: Lato, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 900;
    background-image: url("../files/images/headers/header-contact.jpg");
    padding-top: 15vh;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
     background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-articles {
    padding: 0% 5% 0 5%;
}


.contact {
    padding-bottom: 5%;
}

.contact h2 {
    font: Lato;
    font-size: 30px;
    color: #DC143C;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
